/* CSS Document */
#cahnrswp-forms-settings label {
	display: block;
	font-weight: bold;
	padding: 0.25rem 0;
}

#cahnrswp-forms-settings input[type="text"] {
	height: 40px;
	line-height: 40px;
	text-indent: 0.5rem;
	font-size: 1.1rem;
	width: 100%;
}

#cahnrswp-forms-settings .cahnrswp-forms-helper-text {
	padding: 0.25rem 0;
	color: #777;
	display: block;
}

#cahnrswp-forms-settings .cahnrswp-forms-field {
	padding: 0.5rem 0;
}

#cahnrswp-forms-settings textarea {
	width: 100%;
	height: 6rem;
}

#cahnrswp-forms-settings .cahnrswp-forms-source {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

#cahnrswp-forms-settings .cahnrswp-forms-get-documents {
	width: 28%;
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
}

#cahnrswp-forms-settings .cahnrswp-forms-get-documents select {
	width: 100%;
	line-height: 40px;
	height: 40px;
}